.auth {
    background: url("../../img/regBg.svg");
    background-size: cover;
    width: 100wh;
    height: 100vh;

    @media screen and (max-width: 450px) {
        background-position-x: -400px;
    }

    @media screen and (max-width: 411px) {
        background-position-x: -335px;
    }
    @media screen and (max-width: 360px) {
        background-position-x: -290px;
    }
    @media screen and (max-width: 320px) {
        background-position-x: -260px;
    }

    &__block {
        width: 400px;
        margin: 0 auto;
        padding-top: 150px;

        @media screen and (max-width: 410px) {
            width: 330px;
            padding-top: 50px;
        }

        @media screen and (max-width: 320px) {
            width: 300px;
        }

        .block-sucess {
            width: 400px;
            height: 450px;
            background-color: #4b75ff;
            border-radius: 5px;
            box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
                0 8px 16px -8px rgba(0, 0, 0, 0.3),
                0 -6px 16px -6px rgba(0, 0, 0, 0.025);
            padding: 25px;

            @media screen and (max-width: 500px) {
                width: 300px;
                height: 400px;
                margin: 0 auto;
            }

            @media screen and (max-width: 400px) {
                width: 280px;
            }

            &-body {
                width: 100%;
                height: 100%;
                background: url("../../img/email.svg") top;
                background-size: contain;
                background-repeat: no-repeat;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                p {
                    color: white;
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center;
                    margin-bottom: 25px;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.287);
                    span {
                        color: yellow;
                        font-weight: bold;
                        font-size: 25px;
                    }
                }
            }
        }

        &__content {
            box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
                0 8px 16px -8px rgba(0, 0, 0, 0.3),
                0 -6px 16px -6px rgba(0, 0, 0, 0.025);
            background-color: whitesmoke;
            background: url("../../img/gbBlock.jpg");
            background-size: cover;
            border-radius: 5px;
            padding: 5px 50px;

            @media screen and (max-width: 410px) {
                padding: 5 10px;
            }

            .registartion {
                h2 {
                    padding-top: 50px;
                    font-size: 1.5em;
                    // color: #333;
                    color: whitesmoke;
                    font-weight: 500;
                    text-align: center;
                    padding-bottom: 20px;

                    @media screen and (max-width: 410px) {
                        font-size: 1.2em;
                    }
                }
                &__forms {
                    padding-top: 20px;

                    div {
                        position: relative;
                        input {
                            box-sizing: border-box;
                            width: 100%;
                            min-height: 44px;
                            margin-bottom: 10px;
                            border: 1px solid #ccc;
                            padding: 10px;
                            border-radius: 4px;
                        }
                        .error {
                            p {
                                font-size: 12px;
                                padding: 3px;
                                color: rgb(251, 124, 124);
                                // text-shadow: 1px 1px 1px #ffffffb0;
                            }
                        }

                        .show-password {
                            position: absolute;
                            top: 9px;
                            right: 9px;
                            opacity: 0.3;
                            cursor: pointer;
                        }
                    }

                    .spinner {
                        text-align: center;
                        svg {
                            color: white;
                        }
                    }

                    .btn {
                        cursor: pointer;
                        border: 0;
                        color: snow;
                        font-size: 12pt;
                        width: 100%;
                        min-height: 44px;
                        // background-color: #333;
                        border-radius: 4px;
                        text-transform: uppercase;
                        margin: 25px 0;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1),
                            0 3px 3px rgba(0, 0, 0, 0.1);
                    }

                    .btn-register {
                        background-color: #284ffb;

                        &:hover {
                            background-color: lighten(#284ffb, 5%);
                        }
                    }
                    .btn-login {
                        background-color: #11c55c;
                        &:hover {
                            background-color: lighten(#13aa52, 5%);
                        }
                    }
                }
            }

            .log-change {
                color: blue;
                font-weight: 400;
                display: block;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 35px;
                background-color: $bdFooter;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1),
                    0 3px 3px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                transition: 0.3s;
                width: 200px;
                margin: 0 auto;
                margin-bottom: 25px;
                // color: white;
                background-color: #e4d50d;

                &:hover {
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1),
                        0 3px 3px rgba(0, 0, 0, 0.1);
                }

                svg {
                    font-size: 15px;
                    margin-right: 5px;
                    position: relative;
                }
            }
        }
    }
}
