.auth {
    background: url("../../img/employee.jpg");
    background-size: cover;
    width: 100wh;
    height: 100vh;

    @media screen and (max-width: 450px) {
        background-position-x: -400px;
    }

    @media screen and (max-width: 411px) {
        background-position-x: -335px;
    }
    @media screen and (max-width: 360px) {
        background-position-x: -290px;
    }
    @media screen and (max-width: 320px) {
        background-position-x: -260px;
    }

    &__block {
        width: 400px;
        margin: 0 auto;
        padding-top: 150px;

        @media screen and (max-width: 410px) {
            width: 330px;
            padding-top: 50px;
        }

        @media screen and (max-width: 320px) {
            width: 300px;
        }

        &__content {
            background-image: linear-gradient(
                to right bottom,
                #1b2b4c,
                #1b2740,
                #1b2435,
                #1b2029,
                #1b1c1e
            );
            border-radius: 5px;
            padding: 5px 50px;
            box-shadow: 3px 10px 10px #00000086;
            @media screen and (max-width: 410px) {
                padding: 5 10px;
            }

            .registartion {
                h2 {
                    padding-top: 50px;
                    font-size: 1.5em;
                    // color: #333;
                    color: whitesmoke;
                    font-weight: 500;
                    text-align: center;
                    padding-bottom: 20px;

                    @media screen and (max-width: 410px) {
                        font-size: 1.2em;
                    }
                }
                &__forms {
                    padding-top: 20px;

                    div {
                        position: relative;
                        input {
                            box-sizing: border-box;
                            width: 100%;
                            min-height: 44px;
                            margin-bottom: 10px;
                            border: 1px solid #ccc;
                            padding: 10px;
                            border-radius: 4px;
                        }
                        .error {
                            p {
                                font-size: 12px;
                                padding: 3px;
                                color: rgb(251, 124, 124);
                                // text-shadow: 1px 1px 1px #ffffffb0;
                            }
                        }

                        .show-password {
                            position: absolute;
                            top: 9px;
                            right: 9px;
                            opacity: 0.3;
                            cursor: pointer;
                        }
                    }

                    .spinner {
                        text-align: center;
                        svg {
                            color: white;
                        }
                    }

                    .btn {
                        cursor: pointer;
                        border: 0;
                        color: snow;
                        font-size: 12pt;
                        width: 100%;
                        min-height: 44px;
                        border-radius: 4px;
                        text-transform: uppercase;
                        margin: 25px 0;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1),
                            0 3px 3px rgba(0, 0, 0, 0.1);
                    }

                    .btn-register {
                        background: #1c34a0;
                        color: #f5f5f5d0;
                        transition: 0.3s;

                        &:hover {
                            background-color: lighten(#1c34a0, 5%);
                        }
                    }
                    .btn-login {
                        background-color: #2e8653;
                        transition: 0.3s;
                        &:hover {
                            background-color: lighten(#2e8653, 5%);
                        }
                    }
                }
            }

            .log-change {
                font-weight: 400;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 35px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1),
                    0 3px 3px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                width: 200px;
                margin: 0 auto;
                margin-bottom: 25px;
                transition: 0.3s;
                background-color: #ffca38;
                color: #333;
                font-weight: bold;

                &:hover {
                    background-color: #ffee57;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1),
                        0 3px 3px rgba(0, 0, 0, 0.1);
                }

                svg {
                    font-size: 17px;
                    margin-right: 5px;
                    position: relative;
                }
            }
        }
    }
}
